.example-spacer {
    flex: 1 1 auto;
  }
  .patient{
    display: block;
    margin: 50px;
    
    position: center;
  }
  .click{
  width: 200px;
  height: 75px;
  }
  .container{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg, #007bff, #d0314c);
    height: 100vh;
    overflow: hidden;
  }
  