.example-card {
    max-width: 500px;
  }
  body{
    background-color: skyblue;
  }
  .example-spacer {
    flex: 1 1 auto;
    
  }
  .click{
    float: right;
  }
  .container{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg, #007bff, #d0314c);
    height: 100vh;
    overflow: hidden;
  }
  