<div class="container">
    <form class="example-form">
    
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Education</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Years of Experience</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
     
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Specialist</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      
      
    </tr></table>
    <div >
    <button mat-button class="saved" style="color: black;">Submit</button>
    <button mat-button class="save">cancel</button>
</div>
  </form>
  
</div>
